<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hioa.android.hangman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hioa.android.hangman.Hangman"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hioa.android.hangman.Gamerules"
            android:label="@string/app_name"
            android:parentActivityName="hioa.android.hangman.Hangman" >
        </activity>
        <activity
            android:name="hioa.android.hangman.Game"
            android:label="@string/app_name"
            android:parentActivityName="hioa.android.hangman.Hangman" >
        </activity>
        <activity
            android:name="hioa.android.hangman.Statistics"
            android:label="@string/app_name" 
             android:parentActivityName="hioa.android.hangman.Game">
        </activity>
    </application>

</manifest>
